# Copy this file to the .env and fill in our actual values.
# .env is in the .gitignore - never commit real secrets

# PostgreSQL connection string
# Format: postgresql://username:password@host:port/database_name
DATABASE_URL=postgresql://postgres:password@localhost:5432/booking_platform

#JWT secret key 
# Generate one with : python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY= change-this-to-a-long-random-string

#JWT ALGORITHM - HS256 is the standard symmteric algorithm
ALGORITHM = HS256

#How many minutes until an access token expires 
ACCESS_TOKEN_EXPIRE_MINUTES = 30